#header1 {
  color: yellow;
  text-shadow:
  -2px -2px 0 black,
  2px -2px 0 black,
  -2px 2px 0 black,
  2px 2px 0 black;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
#bananaimg {
  display: block;
  margin: auto;
}
.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}
.Rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.rating-img {
  width: 15px;
  margin-top: -2px;
}